[submodule "repositories/terraform"]
	path = repositories/terraform
	url = https://github.com/glsdown/modern-data-stack-build-terraform
[submodule "repositories/setup_script"]
	path = repositories/setup_script
	url = https://github.com/glsdown/modern-data-stack-build-setup
